<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Movy Password</title>
</head>
<body>
    
    <h2>Reset Your Movy Password</h2>
    
    <p>Hello {{ name }},</p>
    
    <p>We received a request to reset your Movy password. If this was you, please click the link below to create a new password:</p>
    
    <p>
        <a href="{{ reset_password_url }}">Reset Password</a>
    </p>

    <p> if the button above did not click use the link below</p>
    <hr>
    {{ reset_password_url }} 
    {# <p>This link will expire in {{ expiration_hours }} hours for security reasons.</p> #}
   <hr> 
    <p>If you didn't request a password reset, please ignore this email or contact our support team.</p>
    
    <p>Happy movie watching!</p>
    
    <strong>The Movy Team</strong>
    <hr>
    <p>This is an automated message. Please do not reply to this email.</p>
    <p>&copy; {{ current_year }} Movy. All rights reserved.</p>
</body>
</html>